/** FONTS **/
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("fonts/Neucha-Regular.ttf");
}

/** VARIABLES **/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main-orange: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

/** BASIK **/
* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  color: #2a2626;
  font-size: 16px;
  font-family: "Open Sans", serif;
  line-height: 1.6em;
}

.container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 1110px;

  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

h1 {
  font-weight: normal;
  font-size: 72px;
  font-family: Neucha, serif;
  line-height: 1.2em;
}

h2 {
  font-weight: normal;
  font-size: 60px;
  font-family: Neucha, serif;
  line-height: 1.2em;
}

h3,
.h3 {
  font-weight: normal;
  font-size: 34px;
  font-family: Neucha, serif;
  line-height: 1.2em;
}

h4,
.h4 {
  font-weight: normal;
  font-size: 24px;
  font-family: Neucha, serif;
  line-height: 1.2em;
}

.display-block {
  display: block;
}

.no-link-decoration {
  text-decoration: none;
}

/** POSITON **/

.section-flex {
  display: flex;
  justify-content: space-between;
}

.description-left-block {
  flex-basis: 50%;
}

.description-right-block {
  flex-basis: 50%;
}

.z-index-100 {
  z-index: 100;
}

.z-index-200 {
  z-index: 200;
}

.text-align-center {
  text-align: center;
}

/** BACKGROUNDS **/

.bg-questions {
  position: relative;

  overflow: hidden;
}

.bg-questions::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.09;

  content: "";
}

/** COLOR BACKGROUNDS **/

.background-light {
  background: var(--light);
}

.background-white {
  background: var(--white);
}

.background-orange {
  background: var(--main-orange);
}

.background-dark {
  background: var(--main-dark);
}

.background-brown {
  background: var(--brown);
}

/** COLOR FONTS **/

.font-orange {
  color: var(--main-orange);
}

.font-dark {
  color: var(--main-dark);
}

.font-white {
  color: var(--white);
}

.translucent-dark {
  color: var(--translucent-dark);
}

.translucent-white {
  color: var(--translucent-white);
}

.font-brown {
  color: var(--brown);
}

/** FONT SIZE **/

.font-size-52 {
  font-size: 52px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-12 {
  font-size: 12px;
}

/** MG & PD **/

.margin-top-190 {
  margin-top: 195px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-27 {
  margin-top: 50px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.padding-top-100 {
  padding-top: 100px;
}

/** HEADER **/

.header-img {
  position: absolute;

  top: 55px;
  right: -270px;

  height: 525px;
}

.btn-header {
  width: 150px;
  height: 50px;

  margin-top: 40px;
  padding: 12px 24px;

  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

/** MAIN **/

.video {
  margin-top: 30px;
  margin-bottom: -100px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 15%));
}

/** NAV **/

.nav-title-elem {
  width: 350px;
  margin-bottom: 20px;

  text-align: left;
}

.nav-section {
  width: 350px;
  margin-bottom: 20px;
  padding: 24px;

  text-align: left;
}

.nav-number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: Neucha, serif;
  line-height: 1;
}

.animation:hover {
  color: var(--white);

  background: var(--main-orange);
}

.animation:hover h3 {
  color: var(--white);
}

/** CONTENT **/

.section-line {
  width: 100%;

  margin-top: 100px;
  margin-bottom: 20px;

  text-transform: uppercase;
}

.font-header {
  padding: 4px 0 4px 10px;

  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", serif;
  line-height: 1.6em;
}

.img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 15%));
}

/** FOOTTER **/

.footer-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 190px;
}

.footer-title {
  padding: 55px;
}

.mail-block {
  position: relative;

  margin-top: auto;
  margin-bottom: auto;
}

.footer-mail-input {
  width: 431px;
  height: 50px;

  margin-top: 10px;
  padding: 15px;
}

.footer-btn {
  position: absolute;
  top: 36px;
  left: 430px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 50px;
}

.footer-btn::before {
  width: 22px;
  height: 22px;

  background: url("images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.contacts {
  margin-top: -40px;
  margin-bottom: 100px;

  font-size: 14px;

  text-align: center;
}

.contacts p {
  margin-top: 16px;
}
